pyrogram==2.0.106
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy==2022.7.9
aiohttp
pytz
hachoir
Pillow
humanize
aiofiles
dnspython
pynewtonmath
python-dotenv<=0.20.0
apscheduler
pyshorteners
psutil
pyromod
colorama
beautifulsoup4
gunicorn==20.1.0
numpy
yt-dlp==2023.11.16
olefile
loggers
filetype
tldextract
lk21
Flask==2.2.2

